@model IEnumerable<Emotion>

<h2>Dear Diary .. </h2>

<div style="display: block">
    <a href="/Emotion/InsertEmotion/">Click to Document Your Day</a>
</div>
<table class="table">
    <tr>
        <th>Entry ID</th>
        <th>Date</th>
        <th>How Are You Feeling Today? </th>
        <th>Tell Me About Your Day</th>
    </tr>

    @foreach (var emotion in @Model)
    {
        <tr>
            <td><a href=/Emotion/ViewEmotion/@emotion.NewEntryID>@emotion.NewEntryID</a></td>
            <td>@emotion.Date</td>
            <td>@emotion.EmotionType @emotion.EmotionName </td>
            <td>@emotion.EntryText</td>
           
        </tr>
    }

</table>