@model Emotion

<h3>Entry @Model.Date </h3>

<table class="table">
    <tr>
        <th>Entry ID</th>
        <th>Date</th>
        <th>How are you feeling?</th>
        <th>Entry</th>

    </tr>
    <tr>
        <td>@Model.NewEntryID</td>
        <td>@Model.Date</td>
        <td>@Model.EmotionName</td> 
        <td>@Model.EntryText</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Emotion/UpdateEmotion/@Model.NewEntryID">Click Here to Add to This Entry</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteEmotion", "Emotion", "Post"))
    {
        <input type="hidden" asp-for="NewEntryID" value="@Model.NewEntryID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete This Entry" />
    }
</div>